.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #aac6ff;

    button {
        width: 200px;
        background-color: #2982ff;
        color: #eff2f5;
        font-weight: 800;
        padding: 10px;
        margin-top: -40px;

        &:hover {
            background-color: #444444;
            color: #2982ff;
        }
    }

    .loginLogo {
        img {
            object-fit: cover;
            height: 300px;
        }
    }
}
