.sidebar {
    display: flex;
    flex: 0.3;
    height: 100vh;

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1a1c20;
        padding: 7px 12px;

        .discordIcon {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
            position: relative;
            margin-top: 15px;

            img {
                width: 90px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .serverIcon {
            width: 60px;
            height: 60px;
            background-color: #33363d;
            border-radius: 50%;
            margin-bottom: 10px;
            position: relative;
            margin-top: 15px;

            img {
                width: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
    }

    .sidebarRight {
        width: 300px;
        position: relative;
        background-color: #2b2d33;
        flex-grow: 1;
        
        .sidebarTop {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }

        .sidebarChannels {
            padding: 10px;

            .channelHeader {
                display: flex;
            }
            .sidebarChannelsHeader {
                display: flex;
                color: #fff;
                justify-content: space-between;
                margin-top: 5px;
            }
            .sidebarAdd {
                cursor: pointer;
            }
            
        }

        .sidebarFooter {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            padding-bottom: 10px;
            border-top: 1px solid #686a6e;
            padding-top: 10px;
            margin-left: 8px;

            .sidebarAccount {
                display: flex;
                align-items: center;

                img {
                    width: 60px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .accountName {
                    margin-left: 10px;

                    h4 {
                        color: #fff;
                        font-weight: 500;
                    }
                    span {
                        color: #686a6e;
                    }
                }
            }

            .sidebarVoice {
                display: flex;
                align-items: center;
                color: #686a6e;
            }
        }
    }
}