.sidebarChannel {
    padding-left: 20px;
    margin-top: 10px;

    h4 {
        color: #7b7c85;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        font-size: 1.1rem;

        &:hover {
            color: #fff;
            background-color: #33363d;
            border-radius: 5px;
        }
    }

    .sidebarChannelHash {
        font-size: 22px;
        padding-right: 10px;
    }
}